/core_tools/target
/service/target
/sys_monitor/target
/user_mgmt/target
/webApp/target
/webservice_demo/target
/service/.settings
/user_mgmt/.settings
/webApp/.settings
/webservice_demo/.settings
/demo-distribution/target
/demo-distribution/.settings
/dawdler/target
/dawdler/.settings
